@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-background: #121212;
  --color-foreground: #ffffff;
}

/* গলোবাল বেস স্টাইল */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  html.dark body {
    background-color: #121212;
    color: #ffffff;
  }

  html.light body {
    background-color: #fafdff;
    color: #121212;
  }
}

/* প্রিমিয়াম স্ক্রোলবার */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}